### 1. abs(n)  - Returns the absolute value of a number

### 2. all(iterable)   - Returns True if all items in an iterable object are true

### 3. any(iterable)    - Returns True if any item in an iterable object is true

### 4.  bin(n) - Returns the binary version of a number

### 5. bool(object) - 	Returns the boolean value of the specified object
The object will always return True, unless:

The object is empty, like [], (), {}  
The object is False  
The object is 0  
The object is None

### 6. chr(number) - Returns a character from the specified Unicode code.

### 7. complex(real, imaginary/string('x+yj'))  - Returns a complex number

In [3]:
print(complex('4+5j'))
print(complex(2,-5))

(4+5j)
(2-5j)

### 8. dict(number) - Returns a dictionary

### 9. dir(object) - Returns a list of the specified object's properties and methods

In [4]:
a=dir(tuple)
print(type(a))

<class 'list'>

### 10. divmod(dividend, divisor) - Returns the quotient and the remainder when argument1 is divided by argument2

In [5]:
divmod(5, 2)

(2, 1)

### 11. eval() - 	Evaluates and executes an expression

In [6]:
a='print(10)'
b=eval(a)
eval(a)

10
10

### 12. float() - Returns a floating point number

In [15]:
print(float(8))

8.0

### 13. hex() - Converts a number into a hexadecimal value

### 14. id() - Returns the id of an object
The id() function returns a unique id for the specified object.

All objects in Python has its own unique id.

The id is assigned to the object when it is created.

The id is the object's memory address, and will be different for each time you run the program. (except for some object that has a constant unique id, like integers from -5 to 256)

### 15. input(string) - Allowing user input

### 16. int(value)  - Returns an integer number

In [1]:
print(int(87_89))
print(int(78.98))

8789
78

### 17. len(object) - Returns the length of an object

### 18. max(n1, n2, n3, ...) OR max(iterable)  - Returns the largest item in an iterable

In [17]:
print(max(['a','b']))
print(max('AB'))

b
B

### 19. min(n1, n2, n3, ...) OR min(iterable)  - Returns the smallest item in an iterable

### 20.  oct(int)  - Converts a number into an octal

### 21. ord(character) - Returns an integer representing the Unicode of the specified character

### 22. pow(x, y) - Returns the value of x to the power of y

### 23. range(start,stop,step) - Returns a sequence of numbers, starting from 0 and increments by 1 (by default)

### 24. reversed(sequence) - Returns a reversed iterator

In [8]:
a=reversed([1,2,3,4])
print(a)
for i in a:
    print(i,end =' ')
b=reversed('abc')
print()
for i in b:
    print(i,end=' ')

<list_reverseiterator object at 0x7f6dab6244f0>
4 3 2 1
c b a

### 26. round(number, digits[Default - 0]) - Rounds a numbers

### 27.	sorted(iterable) - Returns a sorted 'list'
Note: You cannot sort a list that contains BOTH string values AND numeric values.

In [11]:
a = ("b", "g", "a", "d", "f", "c", "h", "e")
b={3,5,2,1,5}
x = sorted(a)
y=sorted(b)
print(x,y)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'] [1, 2, 3, 5]

### 28.	str(object) - Returns a string object

### 29.	sum(iterable) - Sums the items of an iterator

### 30.	type(object) - Returns the type of an object

# Math Module
Returns decimal values except ceil and floor

## Remember to import math module in exams

1. Trigonometry - math.sin(),math.cos(),math.tan()  
2. Inverse Trigonometric - math.asin(), etc
3. Hyperbolic - math.sinh(),math.asinh() etc
4. Regular Functions:  
math.ceil(),floor(),sqrt(),log(x,base[DEFAULT=e]),log10(),log2()  
math.degrees(),radians(),factorial(),exp(),gcd(),trunc()[removes decimals without rounding]  
math.prod(iterable) -> product of all elements in an iterable  
fmod() -> returns only modulus unlike divmod  
Similar to built-in functions - math.fabs(),pow(),fsum()  
6. Constants  
   math.pi,math.e

In [27]:
import math
print(math.ceil(-9.8))
print(math.ceil(9.8))
li=[1,2,3,4,5]
print(math.prod(li),math.fsum(li),sum(li))
print(math.fmod(11,3))

-9
10
120 15.0 15
2.0

# Random module

### 1. randrange() -  	Returns a random number between the given range

In [41]:
import random

print(random.randrange(3, 9))

8

### 2. randint() -  	Returns a random number between the given range
This method is an alias for randrange(start, stop+1).

In [33]:
import random

print(random.randint(3, 9))

9

### 3. choice() - Returns a random element from the given sequence

In [50]:
import random
mylist = ["apple", "banana", "cherry"]
print(random.choice(mylist)) 
x = "WELCOME"
print(random.choice(x))

banana
M

### 4. choices() - Returns a list with a random selection from the given sequence

In [43]:
import random
mylist = ["apple", "banana", "cherry"]
print(random.choices(mylist)) 
print(random.choices(mylist,k=3))

['banana']
['cherry', 'apple', 'banana']

### 5. shuffle() - Takes a sequence and returns the sequence in a random order
Note: This method changes the original list, it does not return a new list.

In [44]:
import random

mylist = ["apple", "banana", "cherry"]
random.shuffle(mylist)

print(mylist)

['apple', 'cherry', 'banana']

### 6. random() - Returns a random float number between 0 and 1

In [75]:
import random

print(random.random())

0.8956227738841459