# Introduction

Duplicate Elements:
1. Yes:
   1. Mutable -> list() - []
   2. Immutable -> tuple() - () - Cannot modify tuple or its elements ( Can be redefined though)
2. No:
   1. Key-Value Pair -> dict() - {}
   2. Mathematical set -> set() - {}  - Can modify set but not its elements  
      Special Mention - frozenset() -> Cannot be modified

1. All of the above can have heterogeneous elements
2. Lists and tuples are ordered (The elements will be in the same order as added and won't be changed internally)  
   dicts and sets are not
4. Lists,tuples and strings allow indexing(including negative indices) and slicing  
  Sets and dicts do not allow indexing or slicing    
5. Use dir(...) -> to view functions of a particular datatype
6. Can use membership operators in all datatypes (Eg: if i not in li1 ; for i in li1 )
   #### Cannot add set/list/dict(mutable elements/unhashable type) as an element inside a set!! -> Tuples are allowed(As immutable)

In [1]:
set1 = {'ban' ,{ 'a','b'}}

TypeError: unhashable type: 'set'

In [3]:
set1 = {'ban' ,('a','b')}
print(set1)

{('a', 'b'), 'ban'}

# Types of Datatypes: 
1. 'sequence' type elements:
Can be accessed through indexing  
Eg: List, tuple, str, range  

2. 'non-sequence' type elements:
Cannot be accessed through indexing  
Eg: set, dictionary

3. 'mutable' elements:
   Once the object can be modified after creation  
   Eg: list, dict, set(set elements itself cannot be modified)

5. 'immutable' elements
   The object cannot be modified  
   Eg: str, tuple, frozenset, int, float, bool, complex
   int ,bool ,etc 

6. 'hashable' elements  
   All immutable types are hashable  
   Hashing is a mechanism to convert a given element into an integer.
   
   An object/element is hashable if it has a hash value which never changes during its lifetime

7. 'unhashable' elements
   hash([45,65]) -> invalid

8. 'iterable' elements  
   Objects supporting _iter_ ()  
   Eg: list, tuple, set, str, dict,

9. 'non-iterable' elements  
    Eg: int, float, etc.

In [2]:
 hash(32),hash(True)

(32, 1)

In [3]:
hash([1,2])

TypeError: unhashable type: 'list'

# Important Points:

### 1. Lists and tuples are ordered

In [88]:
l1 = [1,"rt",3]
l2 = [3,"rt",1]
s1,s2=set(l1),set(l2)
print(l1==l2)
print(s1==s2)

False
True

### 2. Cannot loop list, dict, tuple if updating them -> As they change size

In [41]:
a={'a','b'}
for i in a:
    print(i) # runs without error as set size unmodified
a={'a','b'}
for i in a:
    print(i)
    a.add(1)

a
b
a

RuntimeError: Set changed size during iteration

In [4]:
a=frozenset(['a','b'])
for i in a:
    print(i)

a
b

### 3. These datatypes create deep copy if assigned unlike primitives or strings
Shallow copy - when elements are copied but memory addresses are different  
Eg: When using copy() in lists; slicing lists or tuples or other structure; etc.  
Deep copy - when memory addresses are copied, therefore elements are copied too  
When assignment operator is used(t2 = t1)

In [109]:
li1,str1=[1,2],'hello'
li2,str2=li1,str1
li2[1] = 99
str2.replace('l','p')
print(li1,str1)

[1, 99] hello

### 4. Input of any datatype:

In [7]:
a = eval(input())
print(type(a))

 1

<class 'int'>

In [2]:
a = eval(input())
print(type(a))

 'ert'

<class 'str'>

In [114]:
a = eval(input())
print(type(a))

 3.4

<class 'float'>

In [115]:
a = eval(input())
print(type(a))

 1,2,3

<class 'tuple'>

In [116]:
a = eval(input())
print(type(a))

 [1,2,3]

<class 'list'>

In [117]:
a = eval(input())
print(type(a))

 {1:2,2:3}

<class 'dict'>

In [118]:
a = eval(input())
print(type(a))

 {1,2,3}

<class 'set'>

## 5. Del

### Del Keyword for Deleting Variables

In [1]:
my_variable1 = 20
print(my_variable1)  
del my_variable1 
print(my_variable1)

20

NameError: name 'my_variable1' is not defined

### Del Keyword for Deleting List and List Slicing

In [4]:
my_list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9] 
my_list2 =["Geeks", "For", "Geek"] 
print(my_list1) 
print(my_list2) 
	
# delete second element of my_list1 
del my_list1[1] 
	
# check if the second element in my_list1 is deleted 
print(my_list1) 
	
# slice my_list1 from index 3 to 5 
del my_list1[3:5] 
	
# check if the elements from index 3 to 5 in my_list1 is deleted 
print(my_list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
['Geeks', 'For', 'Geek']
[1, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 4, 7, 8, 9]

### Del Keyword for Deleting Dictionaries and Removing key-value Pairs

In [5]:
my_dict1 = {"small": "big", "black": "white", "up": "down"} 
 
# check if my_dict1 and my_dict2 exists 
print(my_dict1) 
    
# delete key-value pair with key "black" from my_dict1 
del my_dict1["black"] 
    
# check if the  key-value pair with key "black" from my_dict1 is deleted 
print(my_dict1)

{'small': 'big', 'black': 'white', 'up': 'down'}
{'small': 'big', 'up': 'down'}

In [6]:
my_dict1 = {"small": "big", "black": "white", "up": "down"} 
 
# check if my_dict1 and my_dict2 exists 
print(my_dict1) 
    
# delete key-value pair with key "black" from my_dict1 
del my_dict1["orange"] 
    
# check if the  key-value pair with key "black" from my_dict1 is deleted 
print(my_dict1)

{'small': 'big', 'black': 'white', 'up': 'down'}

KeyError: 'orange'

# Lists

## Creating a list

In [119]:
li1,li2=[],list()
print(type(li1),type(li2))

<class 'list'> <class 'list'>

## List Traversal

#### 1. Using for as an iterator

In [89]:
li2 = [1,2,3,4]
sum = 0
for i in li2:
    sum+=i
print(sum)

10

#### 2. Using 'for'/'while' to access indices of list

In [93]:
li3 = [1,2,3,4]
sum = 0
for i in range(len(li3)): #len() returns number -> use range()
    sum+=li3[i]
print(sum)

10

## Assignment while slicing a list

In [106]:
li = [1,2,3,4]
li[2:3] = [9,8,7,6]
li2,li3 = li.copy(), li.copy()
li2[2:2]=[0,0]
li3[2:3]=[0,0]
print(li,li2,li3,sep='\n')

[1, 2, 9, 8, 7, 6, 4]
[1, 2, 0, 0, 9, 8, 7, 6, 4]
[1, 2, 0, 0, 8, 7, 6, 4]

In [13]:
li=[1,2,3,4,5]
li[-2:] = [56,78,90]
print(li)

li=[1,2,3,4,5]
li[-1:-3] = [56,78,90] # Doesn't remove any element
print(li)

li=[1,2,3,4,5]
li[1:3] = [56,78,90]
print(li)

li=[1,2,3,4,5]
li[3:9999999] = [1,2,3,4,5,6] # No Error
print(li)

[1, 2, 3, 56, 78, 90]
[1, 2, 3, 4, 56, 78, 90, 5]
[1, 56, 78, 90, 4, 5]
[1, 2, 3, 1, 2, 3, 4, 5, 6]

## Nested List - Similar to 2-D Array

In [108]:
l1 = [45,67,[56,89]]
print(l1[2][1])

89

## List Functions

### 1. list.append(elmnt) -> Adds only one element at the end of the list

In [6]:
fruits = ['apple', 'banana', 'cherry']
fruits.append("orange,pear")
print(fruits)

fruits = ['apple', 'banana', 'cherry']
fruits.append(["orange","pear"])
print(fruits)

['apple', 'banana', 'cherry', 'orange,pear']
['apple', 'banana', 'cherry', ['orange', 'pear']]

### 2. list.extend(iterable)  -> Add the elements of a list (or any iterable), to the end of the current list

In [9]:
fruits = ['apple', 'banana', 'cherry']
cars = ['Ford', 'BMW', 'Volvo']
fruits.extend(cars)
print(fruits)

fruits = ['apple', 'banana', 'cherry']
points = (1, 4, 5, 9)
fruits.extend(points)
print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']
['apple', 'banana', 'cherry', 1, 4, 5, 9]

### 3. list.insert(pos, elmnt)  -> 	Adds only one element at the specified position, loop to insert multiple elements

In [11]:
fruits = ['apple', 'banana', 'cherry']
fruits.insert(1, "orange")
print(fruits)
fruits.insert(1, ["orange","pears"])
print(fruits)

['apple', 'orange', 'banana', 'cherry']
['apple', ['orange', 'pears'], 'orange', 'banana', 'cherry']

### 4. list.clear() -> Removes all the elements from the list

In [12]:
fruits = ['apple', 'banana', 'cherry', 'orange']
fruits.clear()
print(fruits)

[]

### 5. list.copy()  -> Returns a shallow copy of the list

In [13]:
fruits = ['apple', 'banana', 'cherry', 'orange']
x = fruits.copy()
fruits.clear()
print(fruits)
print(x)

[]
['apple', 'banana', 'cherry', 'orange']

### 6. list.count(value) -> Returns the number of elements with the specified value

In [14]:
points = [1, 4, 2, 9, 7, 8, 9, 3, 1]
x = points.count(9)
print(x)

2

### 7. list.index(elmnt) ->  Returns the index of the first element with the specified value; Error if value isn't present

In [14]:
fruits = ['apple', 'banana', 'cherry'] 
x = fruits.index("cherry")
print(x)
print(fruits.index("1"))

2

ValueError: '1' is not in list

### 8. list.pop(posn) -> Removes the element at the specified position
Without parameter, elements from end are popped

In [20]:
fruits = ['apple', 'banana', 'cherry']
x = fruits.pop(1)
print(x)
print(fruits.pop())

banana
cherry

### 9. list.remove(elmnt) -> Removes the first item with the specified value
Error if value isn't present

In [15]:
fruits = ['apple', 'banana', 'cherry','banana']
fruits.remove("banana")
print(fruits)
fruits.remove('w')

['apple', 'cherry', 'banana']

ValueError: list.remove(x): x not in list

### 10. list.reverse() -> Reverses the order of the list

In [23]:
fruits = ['apple', 'banana', 'cherry']
fruits.reverse()
print(fruits)

['cherry', 'banana', 'apple']

### 11. list.sort(reverse=True|False) -> Sorts the list  
    reverse=True will sort the list descending. Default is reverse=False

In [29]:
fruits = [ 'banana','apple', 'cherry']
fruits.sort()
print(fruits)

['apple', 'banana', 'cherry']

# Tuples

## Creating a tuple

In [128]:
t1,t2=(),tuple()
print(type(t1),type(t2))
t3,t4=(1),(1,)
print(type(t3),type(t4))
t5=5,6,7
print(type(t5))

<class 'tuple'> <class 'tuple'>
<class 'int'> <class 'tuple'>
<class 'tuple'>

In [137]:
t1=()
t1=(1,2,3) # Tuple is being redefined
print(t1)

(1, 2, 3)

## Concatenating tuples

In [138]:
t1=2,3,4
t2=9,8
print(t2+t1)

(9, 8, 2, 3, 4)

## Tuple Functions

1. tuple.count(value)

2. tuple.index(value)

# Dictionaries

## Creating dictionaries:

In [3]:
d1,d2={},dict()
print(type(d1),type(d2))
d3=dict([(2,'a'),[3,'b']])
print(d3)
d3[2]='r'
print(d3)

<class 'dict'> <class 'dict'>
{2: 'a', 3: 'b'}
{2: 'r', 3: 'b'}

## Mutable datatypes cannot be used as keys

In [3]:
d6 = {(1,2,3):"check1"}
print(d6[(1,2,3)])
d6 = {[1,2,3]:"check1"}

check1

TypeError: unhashable type: 'list'

## Membership operators can be used for keys only

In [19]:
d4={1:'a',2:'b'}
if 2 in d4:
    print('True 1')
if 'b' in d4:
    print('True 2')

True 1

## dict functions

### 1. clear()

### 2. copy()

### 3. fromkeys() - Creates a dictionary from the given sequence  
   Usage is different -> as dictonary is being created, call function as dict.fromkeys()

Syntax : fromkeys(seq, val)  

Parameters :  

    seq : The sequence to be transformed into a dictionary.  
    val : Initial values that need to be assigned to the generated keys. Defaults to None.  

Returns : A dictionary with keys mapped to None if no value is provided, else to the value provided in the field.

In [50]:
seq = {'a', 'b', 'c', 'd', 'e'}
res_dict = dict.fromkeys(seq)
print("The newly created dict with None values : " + str(res_dict))
res_dict2 = dict.fromkeys(seq, 1)
print("The newly created dict with 1 as value : " + str(res_dict2))

The newly created dict with None values : {'c': None, 'e': None, 'b': None, 'd': None, 'a': None}
The newly created dict with 1 as value : {'c': 1, 'e': 1, 'b': 1, 'd': 1, 'a': 1}

In [49]:
seq = {'a', 'b', 'c', 'd', 'e'}
res_dict = dict.fromkeys(seq)
print("The newly created dict with None values : " + str(res_dict))
res_dict2 = dict.fromkeys(seq, 1,2)
print("The newly created dict with 1 as value : " + str(res_dict2))

The newly created dict with None values : {'c': None, 'e': None, 'b': None, 'd': None, 'a': None}

TypeError: fromkeys expected at most 2 arguments, got 3

Behavior of Python Dictionary fromkeys() Method with Mutable objects as values, fromdict() can also be supplied with the mutable object as the default value. But in this case, a shallow copy is made of the dictionary, i.e. if we append a value in the original list, the append takes place in all the values of keys.

In [48]:
seq = {'a', 'b', 'c', 'd', 'e'}
lis1 = [2, 3]
res_dict = dict.fromkeys(seq, lis1)
print("The newly created dict with list values : "
	+ str(res_dict))
lis1.append(4)
print("The dict with list values after appending : ", str(res_dict))

lis1 = [2, 3]
print('\n')
res_dict2 = {key: list(lis1) for key in seq}
print("The newly created dict with list values : "
	+ str(res_dict2))
lis1.append(4)
print("The dict with list values after appending (no change) : ", str(res_dict2))

The newly created dict with list values : {'c': [2, 3], 'e': [2, 3], 'b': [2, 3], 'd': [2, 3], 'a': [2, 3]}
The dict with list values after appending :  {'c': [2, 3, 4], 'e': [2, 3, 4], 'b': [2, 3, 4], 'd': [2, 3, 4], 'a': [2, 3, 4]}


The newly created dict with list values : {'c': [2, 3], 'e': [2, 3], 'b': [2, 3], 'd': [2, 3], 'a': [2, 3]}
The dict with list values after appending (no change) :  {'c': [2, 3], 'e': [2, 3], 'b': [2, 3], 'd': [2, 3], 'a': [2, 3]}

### 4. get() - Returns the value for the given key

Syntax : Dict.get(key, default=None)

Parameters: 

    key: The key name of the item you want to return the value from
    Value: (Optional) Value to be returned if the key is not found. The default value is None.

Returns: Returns the value of the item with the specified key or the default value.

In [17]:
d = {'coding': 'good', 'thinking': 'better'}
print(d.get('coding'))

good

In [6]:
d = {1: '001', 2: '010', 3: '011'}
print(d.get(4))
print(d.get(4, "Not found"))

None
Not found

### 5. items() - Return the list with all dictionary keys with values

Syntax: dictionary.items()  
Parameters: This method takes no parameters.  
Returns: A view object that displays a list of a given dictionary’s (key, value) tuple pair.

In [24]:
Dictionary1 = { 'A': 'Geeks', 'B': 4, 'C': 'Geeks' }
for i,j in Dictionary1.items():
    print(i,':',j)
print(type(Dictionary1.items()))

A : Geeks
B : 4
C : Geeks
<class 'dict_items'>

In [45]:
Dictionary1 = { 'A': 'Geeks', 'B': 4, 'C': 'Geeks' } 
print("Original Dictionary items:") 

items = Dictionary1.items() 
print(items) 
del[Dictionary1['C']] 
print('Updated Dictionary:') 
print(items)

Original Dictionary items:
dict_items([('A', 'Geeks'), ('B', 4), ('C', 'Geeks')])
Updated Dictionary:
dict_items([('A', 'Geeks'), ('B', 4)])

### 6. keys() - Returns a view object that displays a list of all the keys in the dictionary in order of insertion

Syntax: dict.keys()

Parameters: There are no parameters.

Returns: A view object is returned that displays all the keys. This view object changes according to the changes in the dictionary.

In [23]:
test_dict = {"geeks": 7, "for": 1, "geeks": 2}

print('2nd key using keys() : ', list(test_dict.keys())[1])
print(type(test_dict.keys()))

2nd key using keys() :  for
<class 'dict_keys'>

### 7. pop() - Returns and removes the element with the given key


    Syntax: dict.pop(key, def)
    Parameters : 

        key : The key whose key-value pair has to be returned and removed.
        def : The default value to return if specified key is not present.

    Returns :

        The value associated with the deleted key-value pair, if the key is present. 
        Default value if specified if key is not present. 
        KeyError, if key not present and default value not specified.

In [42]:
test_dict = {"Nikhil": 7, "Akshat": 1, "Akash": 2} 

print("The dictionary before deletion : " + str(test_dict))  
pop_ele = test_dict.pop('Akash') 
print("Value associated to popped key is : " + str(pop_ele)) 
print("Dictionary after deletion is : " + str(test_dict))

The dictionary before deletion : {'Nikhil': 7, 'Akshat': 1, 'Akash': 2}
Value associated to popped key is : 2
Dictionary after deletion is : {'Nikhil': 7, 'Akshat': 1}

### 8. popitem() - Returns and removes the key-value pair from the dictionary

Syntax : dict.popitem() 

Parameters : None 

Returns : A tuple containing the arbitrary key-value pair from dictionary. That pair is removed from dictionary.   
Returns an error if dictionary is empty

In [41]:
test_dict = {"Nikhil": 7, "Akshat": 1, "Akash": 2}

print("Before using popitem(), test_dict: ", test_dict)

res = test_dict.popitem()
print('The key, value pair returned is : ', res)
print("After using popitem(), test_dict: ", test_dict)

Before using popitem(), test_dict:  {'Nikhil': 7, 'Akshat': 1, 'Akash': 2}
The key, value pair returned is :  ('Akash', 2)
After using popitem(), test_dict:  {'Nikhil': 7, 'Akshat': 1}

### 9. setdefault() - Returns the value of a key if the key is in the dictionary else inserts the key with a value to the dictionary



    Syntax: dict.setdefault(key, default_value)
    Parameters: It takes two parameters: 

        key – Key to be searched in the dictionary. 
        default_value (optional) – Key with a value default_value is inserted to the dictionary if key is not in the dictionary. If not provided, the default_value will be None.

    Returns: 

        Value of the key if it is in the dictionary. 
        None if key is not in the dictionary and default_value is not specified. 
        default_value if key is not in the dictionary and default_value is specified.

In [39]:
d = {'a': 97, 'b': 98} 
print("setdefault() returned:", d.setdefault('b', 999999)) 
print("After using setdefault():", d)

setdefault() returned: 98
After using setdefault(): {'a': 97, 'b': 98}

In [38]:
Dictionary1 = { 'A': 'Geeks', 'B': 'For'} 
print("Dictionary before using setdefault():", Dictionary1) 
 
ret_value = Dictionary1.setdefault('C', "Geeks") 
print("Return value of setdefault():", ret_value) 

print("Dictionary after using setdefault():", Dictionary1)

Dictionary before using setdefault(): {'A': 'Geeks', 'B': 'For'}
Return value of setdefault(): Geeks
Dictionary after using setdefault(): {'A': 'Geeks', 'B': 'For', 'C': 'Geeks'}

### 10. values() - Returns a list of all the values available in a given dictionary

Syntax: dictionary_name.values()

Parameters: There are no parameters 

Returns:  A list of all the values available in a given dictionary. The values have been stored in a reversed manner.

In [22]:
dictionary = {"raj": 2, "striver": 3, "vikram": 4}
print(dictionary.values())
print(type(dictionary.values()))

dictionary = {"geeks": "5", "for": "3", "Geeks": "5"}
print(dictionary.values())

dict_values([2, 3, 4])
<class 'dict_values'>
dict_values(['5', '3', '5'])

In [51]:
salary = {"raj" : 50000, "striver" : 60000, "vikram" : 5000}

list1 = salary.values()
print(sum(list1))

115000

### 11. update() - Updates the dictionary with the elements of another iterable



    Syntax: dict.update([other])

    Parameters: This method takes either a dictionary or an iterable object of key/value pairs (generally tuples) as parameters.

    Returns: It doesn’t return any value but updates the Dictionary with elements from a dictionary object or an iterable object of key/value pairs.

In [35]:
Dictionary1 = {'A': 'Geeks', 'B': 'For', }
Dictionary2 = {'B': 'Geeks'}

print("Original Dictionary:")
print(Dictionary1)

Dictionary1.update(Dictionary2)
print("Dictionary after updation:")
print(Dictionary1)

Original Dictionary:
{'A': 'Geeks', 'B': 'For'}
Dictionary after updation:
{'A': 'Geeks', 'B': 'Geeks'}

In [34]:
Dictionary1 = {'A': 'Geeks'}
print("Original Dictionary:")
print(Dictionary1)

Dictionary1.update(B='For', C='Geeks')
print("Dictionary after updation:")
print(Dictionary1)

Original Dictionary:
{'A': 'Geeks'}
Dictionary after updation:
{'A': 'Geeks', 'B': 'For', 'C': 'Geeks'}

## Sets

## Creating an empty set

In [139]:
a={}
b=set()
print(type(a))
print(type(b))

<class 'dict'>
<class 'set'>

#### Duplicate elements are ignored
Only distinct elements are part of the set  
#### Hence, sets can be used to remove duplicate elements form other datatypes

In [147]:
s1 = {1,1,1,1,2}
print(s1)
l1=[1,1,1,1,2]
print(list(set(l1)))
print(set('hello')) 
print(set({'Hello':1,'Police':34}))

{1, 2}
[1, 2]
{'h', 'o', 'e', 'l'}
{'Hello', 'Police'}

In [149]:
a='hello'
print(set(a))
print({a})
li =[1,2,2,3]
print(set(li))
print({li})

{'h', 'o', 'e', 'l'}
{'hello'}
{1, 2, 3}

TypeError: unhashable type: 'list'

## Adding and Removing elements

We can add and remove elements form the set with the help of the below functions – 

### 1.    add(element): Adds a given element to a set
### 2.    clear(): Removes all elements from the set

### 3.    discard(value): Removes the element from the set - The discard() method is different from the remove() method, because the remove() method will raise an error if the specified item does not exist, and the discard() method will not.

In [75]:
fruits = {"apple", "banana", "cherry",'banana'}
print(fruits)
fruits.discard("banana")
print(fruits)

{'apple', 'cherry', 'banana'}
{'apple', 'cherry'}

### 4. remove(): Removes the element from the set

In [2]:
fruits = {"apple", "banana", "cherry",'banana'}
fruits.remove("banana")
print(fruits)

{'cherry', 'apple'}

### 5. pop(): Returns and removes a 'random' element from the set

In [11]:
fruits = {"apple", "banana", "cherry"}
fruits.pop()
print(fruits)

{'banana', 'apple'}

In [14]:
fruits = {"apple", "banana", "cherry",'food','good'}
fruits.pop()
print(fruits)

{'food', 'cherry', 'apple', 'good'}

In [50]:
fruits = { 'pineapple',"banana", "cherry",'food','good'}
fruits.pop()
print(fruits)

{'banana', 'food', 'cherry', 'good'}

### 6. set1.update(set2,list3,....)

    Syntax :  set1.update(set2) 

    Here set1 is the set in which set2 will be added.

    Parameters : Update() method takes any number of argument. The arguments can be a set, list, tuples or a dictionary. It automatically converts into a set and adds to the set. 

    Return value : This method adds set2 to set1 and returns nothing.

In [74]:
number = {1, 2, 3, 4, 5} 
num_Dict = {6: 'Six', 7: 'Seven', 8: 'Eight',
            9: 'Nine', 10: 'Ten'}
li = [23,2333,90]
number.update(num_Dict,li)
print("Updated set: ", number)

Updated set:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 23, 90, 2333}

## General Set Functions

### 7. copy() - Returns a shallow copy of the set

### 8. frozenset(element)  
    Syntax : frozenset(iterable_object_name)  
    Return :  Returns an equivalent frozenset object.    
    Frozen sets are immutable sets that allow you to perform various set operations such as union, intersection, difference, and symmetric difference.

In [89]:
Student = {"name": "Ankit", "age": 21,"address": "Allahabad"}
fs = frozenset(Student)
print('The frozen set is:', fs)
print(frozenset())

The frozen set is: frozenset({'age', 'name', 'address'})
frozenset()

### 9. difference() - Returns a set that is the difference between two sets (can also use lists)
Can also use '-' to find difference  
If we have equal sets then it will return the null set.

In [90]:
A = {10, 20, 30, 40, 80}
B = {100, 30, 80, 40, 60}
li = [100,100,100, 30, 80, 40, 60]
print (A.difference(B))
print (B-A)
C = A
print(C.difference(A))
print(A.difference(li))
print(li.difference(li))

{10, 20}
{100, 60}
set()
{20, 10}

AttributeError: 'list' object has no attribute 'difference'

In [87]:
B = {100, 30, 80, 40, 60}
li = [100,100,100, 30, 80, 40, 60]
print(B-li)

TypeError: unsupported operand type(s) for -: 'set' and 'list'

### 10. difference_update()
The set difference() method will get the (A – B) and will return a new set. The set difference_update() method modifies the existing set.

In [76]:
A = {10, 20, 30, 40, 80}
B = {100, 30, 80, 40, 60}
A.difference_update(B)
print (A)

{20, 10}

### 11. intersection() - Returns a set that has the intersection of all sets
Syntax: set1.intersection(set2, list3, dict4….) 

Return: Returns a set which has the intersection of all sets(set1, set2, set3…) with set1. 

It returns a copy of set1 only if no parameter is passed. 

We can also get intersections using ‘&’ operator.

In [86]:
set1 = {2, 4, 5, 6}
set2 = {4, 6, 7, 8}
set3 = {1, 0, 12}
li=[1,0,0,0,2]
print("set1 intersection set2 : ",
      set1.intersection(set2))
print(set1 & set2 & set3)
print(set1.intersection(li))
print(set1 & li)

set1 intersection set2 :  {4, 6}
set()
{2}

TypeError: unsupported operand type(s) for &: 'set' and 'list'

### 12. intersection_update() - Updates the existing caller set with the intersection of sets

### 13. isdisjoint() - Checks whether the sets are disjoint or not
Syntax: set1.isdisjoint(set2)

Parameters:

    another set to compare with
    or
    an iterable (list, tuple, dictionary, and string)

Return: bool

Note: Two empty sets are disjoint

In [79]:
set1 = {2, 4, 5, 6}
set2 = {7, 8, 9, 10}
set3 = {1, 2}
set4,set5 = set(),set()
print("set1 and set2 are disjoint?",set1.isdisjoint(set2))
print("set1 and set3 are disjoint?",set1.isdisjoint(set3))
print(set4.isdisjoint(set5))

set1 and set2 are disjoint? True
set1 and set3 are disjoint? False
True

In [80]:
A = {2, 4, 5, 6}
# List
lis = [1, 2, 3, 4, 5] 
# Dictionary dict, Set is formed on Keys
dict = {1: 'Apple', 2: 'Orange'}
# Dictionary dict2
dict2 = {'Apple': 1, 'Orange': 2}
print("Set A and List lis disjoint?", A.isdisjoint(lis))
print("Set A and dict are disjoint?", A.isdisjoint(dict))
print("Set A and dict2 are disjoint?", A.isdisjoint(dict2))

Set A and List lis disjoint? False
Set A and dict are disjoint? False
Set A and dict2 are disjoint? True

### 14. issubset() - Returns True if all elements of a set A are present in another set B

In [81]:
A = {4, 1, 3, 5} 
B = {6, 0, 4, 1, 5, 0, 3, 5} 
print(A.issubset(B)) 
print(B.issubset(A))

True
False

### 15. issuperset() - Returns True if all elements of a set A occupies set B

In [82]:

A = {1, 2, 3}
B = {1, 2, 3, 4, 5}
C = {1, 2, 4, 5}
 
print("A.issuperset(B) : ", A.issuperset(B))
print("B.issuperset(A) : ", B.issuperset(A))
print("A.issuperset(C) : ", A.issuperset(C))
print("C.issuperset(B) : ", C.issuperset(B))

A.issuperset(B) :  False
B.issuperset(A) :  True
A.issuperset(C) :  False
C.issuperset(B) :  False

### 16. symmetric_difference() - Returns a set which is the symmetric difference between the two sets
The symmetric difference of two sets set1 and set2 is the set of elements which are in either of the sets set1 or set2 but not in both.

In [83]:
list1 = [1, 2, 3]  
list2 = [2, 3, 4]  
list3 = [3, 4, 5]  
set1 = set(list1)  
set2 = set(list2)  
print(set1.symmetric_difference(set2))  
print(set2.symmetric_difference(list3))

{1, 4}
{2, 5}

### 17. symmetric_difference_update() - Updates the existing caller set with the symmetric difference of sets

### 18. union() - Returns a set that has the union of all sets


    Syntax: set1.union(set2, tuple3, dict4….)

    Parameters: zero or more iterables

    Return: Returns a set, which has the union of all sets(set1, set2, set3…) with set1. It returns a copy of set1 only if no parameter is passed.

We can use “|” operator to find the union of the sets.

In [92]:
A = {2, 4, 5, 6} 
B = {4, 6, 7, 8}
C = {10,11}
print("A U B:", A.union(B,C))
print(A|B|C)

A U B: {2, 4, 5, 6, 7, 8, 10, 11}
{2, 4, 5, 6, 7, 8, 10, 11}

## Frozenset
Frozen sets are immutable sets that allow you to perform various set operations such as union, intersection, difference, and symmetric difference.