# print()

print() : prints and moves to newline  
stdout : the standard output, usually the terminal.  
Use the optional argument end to change the end string.

In [2]:
print('hello')
print()
print('World')
print("Hello, World", end="!")  # => Hello, World!

hello

World
Hello, World!

## Multi line strings

In [6]:
a = '''Hello
World
Again'''
b ='Hello \
World \
Again'
print(a)
print(b)

Hello
World
Again
Hello World Again

Full synatx of print function

print(*objects,sep=' ',end='\n',file=sys.stdout,flush=False)

1. objects - objects to be printed
2. sep - objects are spearated by whatever is mentioned in arguments. Default is space.
3. end - To be printed at the end of line. Default - \n
4. file - Output is redirected to a file. Default - stdout
5. flush - output stream is forcibly flushed. Default - False.

In [41]:
print('Hello World',sep='#')
print('Hello''World',sep = '#')

Hello World
HelloWorld

In [3]:
print(*'Hello World',sep='#') #Last character is unaffected

H#e#l#l#o# #W#o#r#l#d

In [14]:
print('Hello World','Hello Again',sep='#')

Hello World#Hello Again

In [17]:
print('Hello World',*'Hello Again',sep='#')

Hello World#H#e#l#l#o# #A#g#a#i#n

### Note that the separator is added after the space also in the example above

In [45]:
sep = 45
print("hello","world",sep)
print("hello","World", sep = "0")

hello world 45
hello0World

In [13]:
print('Hello World',end='##')

Hello World##

In [13]:
f=open('test.txt','w+')
print('hello world', file=f)
f.seek(0)
print(f.read())

hello world

In [11]:
print('Hello', 'hello' 'again', "welcome")

Hello helloagain welcome

In [14]:
print('The number is',num)
# print('The number is '+num) # gives error

The number is 2.8

In [6]:
inttemp2 = 45
inttemp3 = 79
print('Hello', 'welcome' 'again',inttemp2, inttemp3, ' world' )

Hello welcomeagain 45 79  world

In [7]:
inttemp2 = 45
inttemp3 = 79
print('Hello', 'welcome' 'again',inttemp2, inttemp3, ' world' ,sep='&')

Hello&welcomeagain&45&79& world

In [17]:
print('Hello '+num)

TypeError: can only concatenate str (not "float") to str

In [17]:
num=1
print('Hello'+str(num))

Hello1

In [18]:
numint = 3
numfloat = 2.8
print(type(numint))
print(type(numfloat))
print(type(4+8j)) # use j, not i
print(type(True))
#type(true) #invalid datatype

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>

### Using format specifiers

In [19]:
a = 1
b = 2
print('a is %d, b is %5d'%(a,b))

a is 1, b is     2

### print using .format

In [27]:
str1 = 'Hello'
str2 = 'World'
print('{0} to the {1}'.format(str1,str2))

Hello to the World

## f strings in python

f strings are <b>formatted string literals</b> in python

In [25]:
str1 = 'Hello'
str2 = 'World'
print(f'{str1} to the {str2} again!')
print(f"{str1} to the {str2} again!")
print(F'{str1} to the {str2} again!')

Hello to the World again!
Hello to the World again!
Hello to the World again!

In [10]:
val = 189838743.85993
print(f'{val:,}')

189,838,743.85993

#### In the above example, the comma automatically separates the number
Doesn't work for other separators (Look below)

In [11]:
val = 189838743.85993
print(f'{val:;}')

ValueError: Unknown format code ';' for object of type 'float'

#### using os module

In [1]:
import os
print('Hello '+(os.getlogin())+' How are you?')

Hello anirudh How are you?

### Types of errors

1. NameError
2. TypeError
3. ValueError
4. IndexError
5. ZeroDivisionError<br>
etc