# Operators

Arity or rank - represents the precedence of the operator

### There are no declarations, only assignments. (w.r.t variables)

In [1]:
some_var = 5
some_var

5

In [2]:
any_var

NameError: name 'any_var' is not defined

### i % j has the same sign as j, unlike C
(quotient is always negative, remainder sign same as j, use logic to find %)

In [13]:
print(-7//3)
print(-7 % 3)#3*-3 + 2
print(7%3)

-3
2
1

In [10]:
print(7 // -3)
print(7 % -3) # -3*-3 -2

-3
-2

In [14]:
# -13%4 = 4*-4 + 3
print(-13%4)

3

## Note the capitalization
True, not true; Similarly, False, and not false  
Also, True and False hold the mathematical values 1 and 0

In [8]:
print(True*9)
print(False+1)
print(True)

9
1
True

## Important!

Logical operators return values, not True or False by themselves

Comparison operators return only True or False

In [6]:
print(0 or "hello")
print(0 or (4/3))
print(0 or 4>3)

hello
1.3333333333333333
True

##  10==10==10 ?

1. python checks if <b>(10 equals 10) and (10 equals 10)</b>  
returns True
2. other languages: 10 == 10 gives 1(True)  
1 != 10  
Therefore, returns False

In [9]:
print(10 == 10 == 10)

True

### This can be used in chaining operators  
Eg: To check if a number is within a given range  
1 < 2 and 2 < 3  
Can be rewritten as: 
1 < 2 < 3

#### Multiple assignments

In [6]:
a,b,c = 1,2,3
print(a,b,c)
x=y=z=15
#x,y,z=15 Invalid
print(x,y,z)

1 2 3
15 15 15

#### Exponentiation is not ^ 
### All operators (except exponentiation) is left-to-right

In [18]:
print(2*3*4)
print(2**3**4) # equivalent to 2**81
print((2**3)**4) # equivalent to 8**4

24
2417851639229258349412352
4096

## The result of division is always a float unless // is used

#### Truncated division- //

In [3]:
print(8/2)
print(9/2)
print(9//2)
print(5.0//4)

4.0
4.5
4
1.0

#### Logical Operators

and - represents && <br>
or - || <br>
not  - !

In [16]:
print(True and False)
print(True or False)
print(not True)

False
True
False

#### Short circuit evaluation

<b>and</b> evaluates second argument only if first is <b>True</b><br>
<b>or</b> evaluates second argument only if first is <b>False</b>

In [3]:
print(3/0)

ZeroDivisionError: division by zero

In [2]:
print(False and 3/0)

False

In [6]:
print(0 or "hello")
print(0 or (4/3))
print(0 or 4>3)

hello
1.3333333333333333
True

#### String comparisons

In [10]:
print('car' > 'car')
print('car' >= 'car')
print('car' > str(99)) #comparing with string "99"
print('car' > chr(99))
print('car'<'Car')

False
True
True
True
False

## Bitwise Operations

### and (&)
2 - 0010<br>
3 - 0011<br>
applying <b>and</b> operation: 0010

In [10]:
2 & 3

2

### or(|)
2 - 0010<br>
3 - 0011<br>
applying <b>or</b> operation: 0011

In [12]:
2 | 3

3

### not (~)
 Formula is : ~N = -(N+1) <br>
Under the hood, one's complement etc. occurs

In [5]:
print(~4)
print(~(-4))
print(~-4)

-5
3
3

### Right shift (>>)

Eg: 2 >> 1  
2 = 0010  
shifting bits to right <b>once</b>, becomes = _001  
adding an extra zero to make 4 bits - 0001(which is 1)

In [6]:
2 >> 1

1

In [9]:
2 >> 2

0

### Left shift (>>)

Eg: 2 << 1  
2 = 0010  
shifting bits to left <b>once</b>, becomes = 010_  
adding an extra zero to make 4 bits = 0100(which is 4)

In [11]:
2 << 1

4

Shifting bits twice in below example

Becomes 1000 (8)

In [10]:
2 << 2

8

###  * operator shows polymorphism

In [18]:
print("one"*6)
print("one"*6,sep='#') #Not adding sep as it is a single object
print(*"one"*6,sep='#') #adding sep after each character as single object

oneoneoneoneoneone
oneoneoneoneoneone
o#n#e#o#n#e#o#n#e#o#n#e#o#n#e#o#n#e

## Strings can be added too
"Hello " + "world!"   => "Hello world!"
## String literals (but not variables) can be concatenated without using '+'
"Hello " "world!"     => "Hello world!"

## Special Operators

#### Membership operators
in  
not in
#### Identity operators
is  
is not

In [14]:
li=[1,2,3]
if 4 not in li:
    print('True')

True

### is and == : is checks if two variables refer to the same object, but == checks if the objects pointed to have the same values.

In [11]:
a = [1, 2, 3, 4]  # Point a at a new list, [1, 2, 3, 4]
b = a             # Point b at what a is pointing to
print(b is a)            # => True, a and b refer to the same object
print(b == a)            # => True, a's and b's objects are equal
b = [1, 2, 3, 4]  # Point b at a new list, [1, 2, 3, 4]
print(b is a)            # => False, a and b do not refer to the same object
print(b == a)

True
True
False
True

### id()

-5 to 256 have same ids  
Higher numbers have different ids

In [3]:
a = -5
b = -5
c = 256
d = 256
e = 1000
f = 1000
print(id(a))
print(id(b))
print(id(c))
print(id(d))
print(id(e))
print(id(f))
print(a is b)
print(c is d)
print(e is not f)

140236826215528
140236826215528
140236826223880
140236826223880
140236761252912
140236761260848
True
True
True

## None is an object


## Don't use the equality "==" symbol to compare objects to None
Use "is" instead. This checks for equality of object identity.

In [4]:
print("etc" is None)  # => False
print(None is None)   # => True

False
True

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
/tmp/ipykernel_1108/584510281.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print("etc" is None)  # => False

## no charAt() or substring(). Use direct index for extraction and slicing
If only one index given - extraction of character takes place  
Slicing - [start:stop:stepsize]  
One colon is mandatory for slicing, second colon required only if specifying stepsize

In [28]:
tempstr1 = "Hello"
print(tempstr1[2]+'world')
print('Hello Again'[6]) #Retrieves the character at the index directly
print('Hello Again'[2:4])
print('Hello Again'[::-1])

lworld
A
ll
niagA olleH

#### Difference in representaion of huge number

In [45]:
print(2**100)
print(math.pow(2,100))

1267650600228229401496703205376
1.2676506002282294e+30